# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Diretórios de ambiente virtual
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração do PyCharm
.idea/

# Dados de testes
.coverage
.tox/
.nox/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
htmlcov/

# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
.ipynb_checkpoints

# Configuração de IDE
.idea/*
.vscode/
*.swp

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp
*.bak
*.orig
*.old

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de tags
tags
*.tag

# Arquivos do projeto
*.pyc
*.pyo
*.pyd

# Caches de pacotes
pip-log.txt
pip-delete-this-directory.txt

# Caches do Pyre
.pyre/
